Заявка на обратный звонок
===============================================
 
Заявка на обратный звонок:
Имя: <%= @form.name %>
Телефон: <%= @form.phone %>
Удобное время: <%= @form.time %>
Почта: <%= @form.email %>
Сообщение: <%= @form.message %>