Новый заказ от:
Имя: <%= @order.name %>
Фамилия: <%= @order.surname %>
Отчество: %= @order.fathername %>
Телефон: <%= @order.phone %>
Адрес: <%= @order.address %>
Комментарий: <%= @order.comment %>
Ссостав:
<% @order.content.split(';').each do |i| %>
	<%= i %>
<% end %>