<h1>КОРЗИНА</h1>
            <% if !session[:cart].blank? %>
    			<div class="cart-items">
                    <% full_price = 0 %>
                    <% session[:cart].each do |i| %>
                        <% if !i[1].nil? %>
                            <% item_info = Item.find(i[0]) %>
                            <% full_price = full_price + item_info.price*i[1]%>
                            <div class="cart-item" id="cart-item-<%= item_info.id %>">
                            <table class="cart-item-table">
                                <tr>
                                    <td><img src="<%= item_info.image.url(:thumb)%>"></td>
                                    <td>
                                        <div class="cart-item-header"><%= item_info.name %></div>
                                        <div class="cart-item-type"><%= item_info.category.name %></div>
                                        <div class="cart-item-size">ширина: <%= item_info.width %> см</div>
                                        <div class="cart-item-description"><strong>Описание:</strong>
                                            <%= item_info.description.html_safe %>
                                        </div>
                                    </td>
                                    <td>
                                        <strong>Количество:</strong><br/>
                                        <input type="number" class="cart-item-count" value="<%= i[1] %>" item-id="<%= item_info.id %>"/>
                                    </td>
                                    <td>
                                        <strong>Цена:</strong>
                                        <div class="cart-item-price"><%= item_info.price*i[1] %> руб.</div>
                                    </td>
                                    <td><a href="#" class="cart-item-remove rem-item" data-id="<%= item_info.id %>">Удалить</a></td>
                                </tr>
                            </table>
                            </div>
                        <% end %>
                    <% end %>
                    <a href="#" class="cart-item-remove" style="margin-left: 30px" id='del_all'>Удалить все</a>
                    <a class="order-btn" href="/order"></a>
                    <div class="result-price">
                        <strong>Цена:</strong>
                        <div class="cart-item-price"><%= full_price%> руб.</div>
                    </div>
                    <div class="clear"></div>
                </div>
            <% else %>
                <div style="padding-left: 20px; height: 70px;">Товаров в корзине нет</div>
            <% end %>
			<div class="clear"></div>