<% if !params[:category_id].blank? %>
    <input type="hidden" name="addition_param" value="<%= params[:category_id]%>" param-name="category_id">
<% end %>
<% if !params[:complect_id].blank? %>
    <input type="hidden" name="addition_param" value="<%= params[:complect_id]%>" param-name="complect_id">
<% end %>
            <div class="filter-block">
                <span class="pointer">Найдено: 500 моделей</span>
                <h1 class="filter-block-header">ФИЛЬТР</h1>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Ширина(см)
                    </div>
                    <div class="checkboxes" data-field="width">
                        <% @width_value = Item.select(:width).order(:width).uniq %>
                        <% if params[:category_id]%>
                            <% @width_value = @width_value.where('category_id = ?', params[:category_id]) %>
                        <% end %>
                        <% if params[:complect_id] %>
                            <% @width_value = @width_value.where('complect_id = ?', params[:complect_id]) %>
                        <% end %>
                        <% @width_value.each do |w| %>
                            <div class="checkbox-item width-item">
                                    <span class="checkbox"><span class="checkbox-checked"></span></span>
                                    <span class="checkbox-label"><%= w.width %></span>
                            </div>
                        <% end %>
                    </div>
                    <a href="#" class="reset" data-reset="width">Сбросить</a>
                    <div class="clear"></div>
                </div>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Цвет
                    </div>
                    <span class="select" data-window="color"><span class="select-value">--------------</span> <img src="<%= image_path('arrrow-select.png') %>" /></span>
                    <div class="select-windows" id="color-select">
                        <% Item.select(:color).uniq.each do |c| %>
                            <a href="#" data-field="color" data-id="<%= c.color%>" data-name="<%= c.color%>" class="select-window-value"><%= c.color%></a>
                        <% end %>
                    </div>
                    <br /><br /><a href="#" class="reset" data-reset="color">Сбросить</a>
                    <div class="clear"></div>
                </div>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Цена
                    </div>
                    от <input type="text" class="price" data-field="price_from"> до <input type="text" class="price" data-field="price_to">
                    <br /><br /><a href="#" class="reset">Сбросить</a>
                    <div class="clear"></div>
                </div>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Коллекция
                    </div>
                    <div class="checkboxes" data-field="collection">
                        <% Complect.all.each do |c| %>
                            <div class="checkbox-item" data-value="<%= c.id %>">
                                <span class="checkbox"><span class="checkbox-checked"></span></span>
                                <span class="checkbox-label"><%= c.name %></span>
                            </div>
                        <% end %>
                    </div>
                    <a href="#" class="reset" data-reset="collection">Сбросить</a>
                    <div class="clear"></div>
                </div>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Конструкиця
                    </div>
                    <div class="checkboxes" data-field="construction">
                        <% Item.select(:construction).uniq.each do |w| %>
                            <div class="checkbox-item" style="width: 200px;">
                                    <span class="checkbox"><span class="checkbox-checked"></span></span>
                                    <span class="checkbox-label"><%= w.construction %></span>
                            </div>
                            <br />
                        <% end %>
                    </div>
                    <a href="#" class="reset" data-reset="construction">Сбросить</a>
                    <div class="clear"></div>
                </div>
                <div class="filter-block-item">
                    <div class="filter-header">
                        Монтаж
                    </div>
                    <div class="checkboxes" data-field="mounting">
                        <% Item.select(:mounting).uniq.each do |w| %>
                            <div class="checkbox-item">
                                    <span class="checkbox"><span class="checkbox-checked"></span></span>
                                    <span class="checkbox-label"><%= w.mounting %></span>
                            </div>
                            <br />
                        <% end %>
                    </div>
                    <a href="#" class="reset" data-reset="mounting">Сбросить</a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="catalog-inner">
                <div class="sort-by">Сортировать по цене <img data-sort="sort_down" src="<%= image_path('sort_down_non_active.png') %>"><img src="<%= image_path('sort_up_active.png') %>" data-sort="sort_up"></div>
                <div class="clear"></div>
                <div class="catalog-lists">
                    <% @items.each_with_index do |i, index| %>
                        <% if index%3 == 0 %>
                             <ul class="catalog similar-items <%= 'hidden' if index+1 > 12 %>" style="height: 335px;" page-id="<%= (index+2)/12+1 %>" index_id="<%= index %>">
                        <% end %>
                            <li>
                                <a href="/catalog/<%= i.id %>">
                                    <img src="<%= i.image.url(:thumb) %>">
                                    <div class="cart-item-header"><%= i.name %></div>
                                    <div class="item-info-text"><%= i.category.name %></div>
                                    <div class="item-info-text">ширина <%= i.width.to_s %> см</div>
                                    <div class="cart-item-price"><%= i.price %> руб.</div>
                                </a>
                            </li>
                        <% if (index+1)%3 == 0 || index == @items.size - 1%>
                            </ul>
                        <% end %>
                    <% end %>
                </div>
                <div class="clear"></div>
                <% if @items.size > 12 %>
                    <ul class="pager">
                        <% (1..@items.size/12+(1 if @items.size%12>0).to_i).each do |i|%>
                            <li class="<%= 'active' if i==1 %>" page-id="<%= i %>"><%= i %></li>
                        <% end %>
                    </ul>
                    <div class="clear"></div>
                <% end %> 
                <div class="clear"></div>
            </div>