<style>
p {
	line-height: 20px;
}
</style>
<h1>КОНТАКТЫ</h1>
<div style="margin-left: 30px;padding-bottom: 30px;" >
	<div class="left-column">
			<%= AddText.where('label = "contacts"')[0].content.html_safe %>

			      <div class="callback-form" style="margin-left: 30px; margin-top: 15px;">
			        <div class="callback-form-header">НАПИШИТЕ НАМ!</div>
			        <% if @getcall_footer.errors.any? %>
			          <ul class="errors">
			            <% @getcall_footer.errors.full_messages.each do |msg| %>
			              <li><%= msg %></li>
			            <% end %>
			          </ul>
			        <% end %>
			        <%= form_for @getcall_footer, url: '', method: :post do |f| %>
			          <fieldset>
			            <label>Ваш Email:</label>
			            <%= f.text_field :email %>
			          </fieldset>
			          <fieldset>
			            <label>Сообщение:</label>
			            <%= f.text_area :message %>
			          </fieldset>
			          <input type="submit" value="">
			        <% end %>
			        <% if params[:getcall_footer] && !@getcall_footer.errors.any? %>
			          <script>
			            $(document).ready(function(){
			               openform('success-form', 60, 285, 'НОВОЕ СООБЩЕНИЕ', 'Ваше сообщение отправлено.'); 
			            });
			          </script>
			        <% end %>
			    </div>
			    <div class="clear"></div>
	</div>
	<div class="right-column">
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=I-kGskRN1acV08QzdA8KcHyJrwnx-N-_&width=350&height=350"></script>
	</div>
	<div class="clear"></div>
</div>
