
      <h1>НАШИ КОЛЛЕКЦИИ</h1>
      <% @collections.each_with_index do |c, index|%>
        <% if index%8 == 0 %>
          <ul class="catalog <%= 'hidden' if index != 0 %>" page-id="<%= (index+1)/8+1 %>">
        <% end %>
            <li>
              <a href="/catalog/complect/<%= c.id %>">
                <img src="<%= c.image.url(:thumb) %>">
                <span><%= c.name %></span>
              </a>
            </li>
        <% if (index+1)%8 == 0 || index == @collections.size - 1%>
                    </ul>
        <% end %>
      <% end %>
      <div class="clear"></div>
            <% if @collections.size > 8 %>
                <ul class="pager">
                    <% (1..@collections.size/8+(1 if @collections.size%8>0)).each do |i|%>
                        <li class="<%= 'active' if i==1 %>" page-id="<%= i %>"><%= i %></li>
                    <% end %>
                </ul>
                <div class="clear"></div>
            <% end %> 
