<%= link_to(image_tag('back_to_catalog.png', :class => "back_to_catalog"), :back) %>
            <div class="item-info">
                <div class="item-info-left-column">
                    <img src="<%= @item.image.url(:inner)%>" alt=""/>
                    <div class="item-info-price">
                        <% if !@item.old_price.blank? %>
                            <span class="old_price"><%= @item.old_price %> руб.</span>
                        <% end %>
                        <%= @item.price %> руб.
                    </div>
                </div>
                <div class="item-info-right-column">
                    <div class="item-info-text">
                    <div class="item-info-exist" style="margin-bottom: 15px;"><%= @item.name %></div>
                        <strong>Размер(ШхВхГ): </strong><%= @item.width %>х<%= @item.height %>х<%= @item.depth %> мм<br />
                        <strong>Материал фасада: </strong><%= @item.front_matherial %><br />
                        <strong>Материал корпуса: </strong><%= @item.matherial %><br />
                        <strong>Гарантия: </strong><%= @item.garanty %> года<br />
                        <strong>Дополнительное описание: </strong><%= @item.description.html_safe %>
                    </div>
                    <span class="item-info-exist">
                        <% if @item.exist == true %>
                            Есть в наличии!
                        <% else %>
                            В наличии нет!
                        <% end %>
                    </span>
                    <a id="order-btn" class="order-btn item-info-order-btn" href="#" data-id="<%= @item.id %>" ></a>
                </div>
                <div class="clear"></div>
            </div>
            <h1>ПОХОЖИЕ ТОВАРЫ</h1>
            <% @similar_items.each_with_index do |i, index| %>
                <% if index%4 == 0 %>
                    <ul class="catalog similar-items <%= 'hidden' if index != 0 %>" page-id="<%= (index+1)/4+1 %>">
                <% end %>
                <li>
                    <a href="/catalog/<%= i.id %>">
                        <img src="<%= i.image.url(:thumb)%>">
                        <div class="cart-item-header"><%= i.name %></div>
                        <div class="item-info-text"><%= i.category.name %></div>
                        <div class="item-info-text">ширина <%= i.width %> см</div>
                        <div class="cart-item-price"><%= i.price %> руб.</div>
                    </a>
                </li>
                <% if (index+1)%4 == 0 || index == @similar_items.size - 1%>
                    </ul>
                <% end %>
            <% end %>
            <div class="clear"></div>
            <% if @similar_items.size > 4 %>
                <ul class="pager">
                    <% (1..@similar_items.size/4+(1 if @similar_items.size%4>0).to_i).each do |i|%>
                        <li class="<%= 'active' if i==1 %>" page-id="<%= i %>"><%= i %></li>
                    <% end %>
                </ul>
                <div class="clear"></div>
            <% end %>        