<h1>НОВОСТИ</h1>
<div style="margin-left: 30px;padding-bottom: 30px;" >
<ul class="news news-page">
        <% @news.each do |n| %>
          <li>
            <a href="/news/<%= n.alias %>" class="news-title"><%= n.title %></a>
            <a href="/news/<%= n.alias %>" class="news-intro"><%= n.intro.html_safe %></a>
          </li>
        <% end %>
</ul>
<div class="clear"></div>	
</div>
