<h1>ОФОРМЛЕНИЕ ЗАКАЗА</h1>
<ul class="errors">
	<% @order.errors.full_messages.each do |msg| %>
				<li><%= msg%></li>
	<% end %>
</ul>
<%= form_for @order, url: '/order', method: 'post', html: { class: 'order_form' } do |f| %>
	<fieldset>
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: "Иван" %>
	</fieldset>
	<fieldset>
		<%= f.label :surname %>
		<%= f.text_field :surname, placeholder: "Иванов" %>
	</fieldset>
	<fieldset>
		<%= f.label :fathername %>
		<%= f.text_field :fathername, placeholder: "Иванович" %>
	</fieldset>
	<fieldset>
		<%= f.label :address %>
		<%= f.text_field :address, placeholder: "Калужская обл., г. Обнинск, ул. Новая, 77-777" %>
	</fieldset>
	<fieldset>
		<%= f.label :phone %>
		<%= f.text_field :phone, placeholder: "+7-999-999-99-99" %>
	</fieldset>
	<fieldset>
		<%= f.label :comment %>
		<%= f.text_field :comment, placeholder: "Звонить с 12-13" %>
	</fieldset>
	<a href="#" class="order-btn" onclick="$('.order_form').submit();" /></a>
<% end %>

<% if params[:order] && @order.errors.count == 0 %>
	<script type="text/javascript">
		$(document).ready(function(){
			openform('success-form', 60, 285, 'ОФОРМЛЕНИЕ ЗАКАЗА', 'Заказ успешно оформлен.<br /><br /><a href="/catalog">Далее к покупкам</a>');
		});
	</script>
<% end %>