<h1>РЕЗУЛЬТАТЫ ПОИСКА (ВСЕГО: <%= @items.size %> совпадений)</h1>
<ul class="search-results">
	<% @items.each do |i| %>
		<li><a href="/catalog/<%= i.id %>"><%= i.name %>, шрина <%= i.width %> см, стоимость: <%= i.price %></a></li>
	<% end %>
</ul>