<h1>НАШИ МАГАЗИНЫ</h1>
            <ul class="shops">
                <% @shops.each do |s|%>
                    <li>
                        <div class="vacancy-item-header"><%= s.name %></div>
                        <img src="<%= s.image.url(:thumb) %>" alt="" class="shop-preview"/>
                        <span class="shop-description">
                            <%= s.description.html_safe %>
                        </span>
                        <div  class="shop-map" id="map-<%= s.id %>" style="width: 244px; height: 134px;"></div>
                                    <script type="text/javascript">
                                        ymaps.ready(init);
                                        var myMap;
                                        function init() {
                                            myMap = new ymaps.Map("map-<%= s.id %>", {
                                                    center: [<%= s.lattitude %>, <%= s.longtitude %>], 
                                                    zoom: 15,
                                                    controls: ["fullscreenControl"]
                                                });
                                            myPlacemark = new ymaps.Placemark([<%= s.lattitude %>, <%= s.longtitude %>], { 
                                                hintContent: '<%= s.name %>', 
                                            });

                                            myMap.geoObjects.add(myPlacemark);
                                        }
                        </script>
                    </li>
                <% end %>
            </ul>
                 
      <h1>НАШИ КОЛЛЕКЦИИ</h1>
      <% @collections.each_with_index do |c, index|%>
        <% if index%8 == 0 %>
          <ul class="catalog <%= 'hidden' if index != 0 %>" page-id="<%= (index+1)/8+1 %>">
        <% end %>
            <li>
              <a href="/catalog/complect/<%= c.id %>">
                <img src="<%= c.image.url(:thumb) %>">
                <span><%= c.name %></span>
              </a>
            </li>
        <% if (index+1)%8 == 0 || index == @collections.size - 1%>
                    </ul>
        <% end %>
      <% end %>
      <div class="clear"></div>
            <% if @collections.size > 8 %>
                <ul class="pager">
                    <% (1..@collections.size/8+(1 if @collections.size%8>0)).each do |i|%>
                        <li class="<%= 'active' if i==1 %>" page-id="<%= i %>"><%= i %></li>
                    <% end %>
                </ul>
                <div class="clear"></div>
            <% end %> 