<style>
.catalog2 li:nth-child(4n) {
	margin-right: 0px;
}
</style>
<h1>ХИТЫ ПРОДАЖ / СКИДКИ</h1>
        <ul class="catalog2">
          <% @items.each do |i| %>
            <li>
              <a href="/catalog/<%= i.id %>"><img src="<%= i.image.url(:thumb) %>" /></a>
              <span class="label <%= (i.hit) ? 'hit' : 'discount' %>"></span>
            </li>
          <% end %>
        </ul>
        <div class="clear"></div>