<h1>ВАКАНСИИ</h1>
            <div class="vacancy-items">
                <% @items.each do |i| %>
                    <div class="vacancy-item">
                        <table class="vacancy-item-table">
                            <tr>
                                <td>
                                    <div class="vacancy-item-header"><%= i.name %></div>
                                    <div class="vacancy-item-req"><strong>Требования: </strong><%= i.req %></div>
                                    <div class="vacancy-item-cond"><strong>Услловия: </strong><%= i.cond %></div>
                                </td>
                                <td>
                                    <div class="vacancy-item-price">Зарплата<br/>от <%= i.price %> рублей</div>
                                    <br/>
                                    <%= i.price_comment %>
                                </td>
                                <td>
                                    <%= i.address %>
                                </td>
                                <td>
                                    <div id="map-<%= i.id %>" style="width: 244px; height: 134px;"></div>
                                    <script type="text/javascript">
                                        ymaps.ready(init);
                                        var myMap;
                                        function init() {
                                            myMap = new ymaps.Map("map-<%= i.id %>", {
                                                    center: [<%= i.lattitude %>, <%= i.longtitude %>], 
                                                    zoom: 15,
                                                    controls: ["fullscreenControl"]
                                                });
                                            myPlacemark = new ymaps.Placemark([<%= i.lattitude %>, <%= i.longtitude %>], { 
                                                hintContent: '<%= i.name %>', 
                                            });

                                            myMap.geoObjects.add(myPlacemark);
                                        }
                                    </script>
                                </td>
                            </tr>
                        </table>
                    </div>
                <% end %>
            </div>
           
      <h1>НАШИ КОЛЛЕКЦИИ</h1>
      <% @collections.each_with_index do |c, index|%>
        <% if index%8 == 0 %>
          <ul class="catalog <%= 'hidden' if index != 0 %>" page-id="<%= (index+1)/8+1 %>">
        <% end %>
            <li>
              <a href="/catalog/complect/<%= c.id %>">
                <img src="<%= c.image.url(:thumb) %>">
                <span><%= c.name %></span>
              </a>
            </li>
        <% if (index+1)%8 == 0 || index == @collections.size - 1%>
                    </ul>
        <% end %>
      <% end %>
      <div class="clear"></div>
            <% if @collections.size > 8 %>
                <ul class="pager">
                    <% (1..@collections.size/8+(1 if @collections.size%8>0)).each do |i|%>
                        <li class="<%= 'active' if i==1 %>" page-id="<%= i %>"><%= i %></li>
                    <% end %>
                </ul>
                <div class="clear"></div>
            <% end %> 