* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  
}

html, * html body {
  height: 100%;
  font-size: 12px;
}

body {
  min-height: 100%;
  position: relative;
}

fieldset {
  border: none;
}

.clear {
  clear: both;
}

.page-content {
  padding-bottom: 789px;
}

.central-block {
  width: 1025px;
  margin: 0 auto;
}

.top-line {
  background: #e8e8e8;
  height: 33px;
  .mail-btn {
    margin-top: 12px;
    float: left;
  }
  .cart-link {
    float: right;
    text-decoration: none;
    background: #fff;
    span {
      background: #fff;
      padding: 10px 18px 9px 18px;
      display: block;
      float: left;
      font-weight: bold;
      color: #96989b;
    }
    img {
      background: #fff;
      padding: 9px 12px 10px 12px;
      display: block;
      float: left;
    }
    .cart-devider {
      float: left;
      width: 1px;
      border-left: 1px solid #afb0b3;
      height: 17px;
      margin-top: 8px;
      margin-bottom: 8px;
      background: #fff;
    }
  }
}

.download-catalog {
  float: left;
  width: 500px;
  margin-left: 233px;
}

.download-catalog-text-link {
  background: url(asset-path('download-catalog.png')) no-repeat;
  width: 246px;
  height: 33px;
  color: #023b76;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 134px;
  padding-left: 83px;
  padding-top: 8px;
  padding-bottom: 9px;
  position: relative;
  top: -77px;
  left: -66px;
  z-index: 1;
}

.download-catalog-img-link {
  background: url(asset-path('catalog_img.png')) no-repeat;
  text-decoration: none;
  z-index: 2;
  position: relative;
  width: 167px;
  height: 98px;
  display: inline-block;
}

.logo {
  float: left;
}

.header-contacts {
  float: left;
  margin-left: 202px;
  text-align: right;
}

.header-address {
  color: #a4a4a4;
  font-size: 11px;
}

.header-phone {
  font-weight: bold;
  font-size: 18px;
  color: #1ea12c;
  margin-top: 10px;
  span {
    color: #a1a6a2;
  }
}

.search-form {
  float: left;
  background: url(asset-path('search-form.png')) no-repeat;
  width: 301px;
  height: 48px;
  margin-left: 23px;
  input {
    &[type=text] {
      border-radius: 3px;
      border: none;
      height: 30px;
      width: 246px;
      margin-top: 9px;
      margin-left: 9px;
      font-size: 13px;
      color: #b9b9b9;
      padding-left: 5px;
    }
    &[type=submit] {
      background: url(asset-path('search-btn.png')) 0 0 no-repeat;
      width: 19px;
      height: 19px;
      border: none;
      position: relative;
      top: 3px;
      left: 7px;
    }
  }
}

.header-bottom-line {
  margin-top: 24px;
}

.callback-btn {
  float: left;
  cursor: pointer;
}

.main-menu {
  list-style-type: none;
  float: left;
  border-top: 1px solid #dedede;
  margin-left: 127px;
  li {
    float: left;
    padding-top: 9px;
    padding-right: 12px;
    padding-left: 12px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: #8a8a8a;
    }
    &.active {
      font-weight: bold;
      color: #5f5f5f;
      border-top: 3px solid #003f7f;
      padding-top: 6px;
    }
  }
}

.slider-container {
  border-top: 8px solid #003f7f;
  height: 432px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 783px;
  border-top: 6px solid #1c9729;
  width: 100%;
  background: #f0f0f0;
}

.bx-viewport {
  height: 432px !important;
}

ul#slider li {
  width: 1025px !important;
  height: 432px !important;
}

.left-slider-mask, .right-slider-mask {
  height: 432px;
  background: #000;
  opacity: .70;
  position: relative;
  top: -432px;
  display: inline-block;
}

.left-slider-mask {
  left: 0;
}

.submenu-bg {
  height: 63px;
  background: #004281;
}

.submenu {
  list-style-type: none;
  padding-top: 15px;
  li {
    float: left;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    margin-left: 46px;
  }
  a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  li.active {
    border: 1px solid #fff;
  }
}

.right-slider-mask {
  right: 0;
  float: right;
}

.main-block {
  width: 100%;
  background: #f0f0f0;
}

.breadcrumbs {
  list-style-type: none;
  padding: 30px 0px 30px 30px;
  li {
    float: left;
    color: #b9b9b9;
    font-weight: bold;
    margin-right: 7px;
    a {
      color: #5f5f5f;
      text-decoration: none;
    }
    &.devider {
      color: #5f5f5f;
    }
  }
}

.content-block {
  background: #fff;
}

h1 {
  color: #494949;
  font-weight: bold;
  font-size: 16px;
  padding: 20px 0 20px 30px;
}

.catalog {
  list-style-type: none;
  li {
    display: inline-table;
    margin-right: 19px;
    margin-bottom: 19px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
    a {
      text-decoration: none;
    }
  }
  span {
    display: block;
    font-weight: bold;
    color: #000000;
    background: #f0f0f0;
    opacity: .69;
    margin-top: -50px;
    padding: 10px 10px 10px 10px;
  }
}

.pager {
  list-style-type: none;
  padding: 0px 0px 0px 30px;
  li {
    float: left;
    color: #818181;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 7px 7px 7px;
    cursor: pointer;
    &.active {
      border-bottom: 6px solid #606060;
      color: #606060;
      font-weight: bold;
    }
  }
}

h2 {
  color: #1b9128;
  font-size: 16px;
  font-weight: bold;
  margin-top: 81px;
  margin-bottom: 35px;
  background: url(asset-path('flag.png')) no-repeat;
  padding-left: 25px;
}

.catalog2 {
  list-style-type: none;
  li {
    display: inline-table;
    margin-right: 19px;
    &:last-child {
      margin-right: 0;
    }
    span {
      width: 83px;
      height: 83px;
      display: block;
      position: relative;
      top: -241px;
    }
  }
}

.hit {
  background: url(asset-path('hit-label.png')) no-repeat;
}

.discount {
  background: url(asset-path('discount-label.png')) no-repeat;
}

.news {
  list-style-image: url(asset-path('marker.png'));
  margin-left: 13px;
  margin-right: 13px;
  li {
    float: left;
    width: 252px;
    margin-right: 121px;
    &:last-child {
      margin-right: 0;
    }
    a {
      &.news-title {
        text-decoration: none;
        font-size: 16px;
        color: #3b3b3b;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
      &.news-intro {
        text-decoration: none;
        font-size: 13px;
        color: #727272;
        display: block;
      }
    }
  }
}

.white-bg {
  width: 100%;
  padding-bottom: 70px;
  background: white;
  * {
    background: white;
  }
}

.footer-left-column, .footer-right-column {
  float: left;
}

.footer-left-column {
  width: 720px;
}

.footer-menu {
  list-style-type: none;
  margin-top: 44px;
  li {
    float: left;
    padding-right: 13px;
    border-right: 1px solid #cbcbcb;
    padding-left: 13px;
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: #6b6b6b;
    }
    &.active {
      color: #3a3a3a;
      font-weight: bold;
    }
  }
}

.footer-text {
  font-size: 13px;
  color: #727272;
  padding: 45px 13px 63px 13px;
}

.footer-contacts-list, .footer-shops-list {
  width: 251px;
  display: inline-table;
  padding-top: 20px;
  border-top: 1px solid #7f7f7f;
}

.footer-contacts-list {
  margin: 0px 92px 0px 13px;
}

.footer-contacts-list-header {
  color: #7f7f7f;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 17px;
}

.footer-contacts-list {
  .footer-address {
    font-size: 13px;
    color: #7c7c7c;
    line-height: 18px;
    margin-bottom: 13px;
  }
  .footer-phone {
    color: #9d9c9c;
    font-weight: bold;
    font-size: 18px;
  }
}

.footer-shops-list a {
  font-size: 13px;
  color: #7c7c7c;
  line-height: 18px;
  margin-bottom: 13px;
  display: block;
}

.callback-form {
  width: 237px;
  min-height: 234px;
  -webkit-box-shadow: 4px 4px 23px -1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 4px 4px 23px -1px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 4px 23px -1px rgba(0, 0, 0, 0.55);
  background: #fff;
  margin-top: 44px;
  margin-left: 34px;
  padding: 17px 17px 30px 17px;
}

.callback-form-header {
  color: #319729;
  font-size: 15px;
  margin-bottom: 17px;
}

label {
  display: block;
  font-size: 11px;
  color: #909090;
  margin-bottom: 8px;
}

.callback-form {
  input[type=text] {
    width: 236px;
    height: 23px;
    border: 1px solid #e4e4e4;
    margin-bottom: 14px;
  }
  textarea {
    width: 236px;
    height: 88px;
    border: 1px solid #e4e4e4;
    margin-bottom: 11px;
  }
  input[type=submit] {
    background: url(asset-path('send-btn.png'));
    width: 112px;
    height: 20px;
    float: right;
    border: none;
  }
}

.copy {
  display: block;
  font-size: 11px;
  color: #9a9a9a;
  text-decoration: none;
  float: right;
  margin-top: 27px;
}

.cart-items, .vacancy-items {
  font-size: 13px;
  color: #727272;
  padding-bottom: 30px;
}

.cart-item, .vacancy-item {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e1e1;
}

.cart-item-table, .vacancy-item-table {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
}

.cart-item-table td, .vacancy-item-table td {
  padding-right: 17px;
  padding-left: 17px;
  border-right: 1px solid #c2c2c2;
}

.cart-item-table td {
  &:first-child, &:last-child {
    border-right: none;
  }
}

.vacancy-item-table td:last-child {
  border-right: none;
}

.cart-item-table td {
  &:first-child {
    vertical-align: top;
  }
  &:nth-child(2) {
    vertical-align: top;
    width: 350px;
  }
  &:nth-child(4) {
    width: 110px;
  }
}

.cart-item-header {
  color: #393939;
  font-size: 15px;
  margin-bottom: 14px;
}

.cart-item-description {
  margin-top: 14px;
}

.cart-item-count {
  margin-top: 10px;
  width: 60px;
  height: 25px;
  border: 1px solid #c7c7c7;
}

.cart-item-price {
  color: #107d1a;
  font-size: 18px;
  font-weight: bold;
}

.cart-item-remove {
  color: #559ee2;
  margin-top: 10px;
}

.result-price {
  float: right;
}

.order-btn {
  background: url(asset-path('order-btn.png')) no-repeat;
  width: 97px;
  height: 38px;
  float: right;
  display: block;
  margin-right: 30px;
  margin-left: 60px;
}

.vacancy-items {
  padding-bottom: 0;
  .vacancy-item:last-child {
    margin-bottom: 0;
  }
}

.vacancy-item-table td {
  &:first-child {
    vertical-align: top;
    width: 245px;
  }
  &:nth-child(2), &:nth-child(3) {
    width: 200px;
  }
}

.vacancy-item-header {
  font-size: 18px;
  font-weight: bold;
  color: #004281;
  margin-bottom: 20px;
}

.vacancy-item-req {
  margin-bottom: 7px;
}

.vacancy-item-price {
  font-size: 18px;
  color: #565656;
}

.shops {
  list-style-type: none;
  border-bottom: 1px solid #c2c2c2;
  li {
    display: inline-table;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13px;
    color: #565656;
    width: 450px;
    margin-bottom: 20px;
  }
}

.shop-preview {
  margin-bottom: 20px;
}

.shop-description {
  float: left;
}

.shop-map {
  float: right;
}

.production-menu {
  list-style-type: none;
  background: #b5bbb0;
  padding-left: 90px;
  padding-right: 90px;
  li {
    display: inline-table;
    width: 71px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    a {
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
    }
    &.active {
      background: #c9cfc4;
    }
  }
}

.back_to_catalog {
  margin: 20px 0px 20px 12px;
}

.item-info-left-column, .item-info-right-column {
  float: left;
}

.item-info {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 20px;
}

.item-info-left-column {
  padding-left: 30px;
  width: 470px;
  height: 533px;
}

.item-info-right-column {
  width: 432px;
  height: 533px;
  padding-left: 60px;
  padding-right: 30px;
}

.item-info-text {
  text-align: left;
  color: #565656;
  font-size: 13px;
  line-height: 25px;
  height: 467px;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 29px;
}

.item-info-price {
  font-size: 35px;
  color: #ffffff;
  background: #004281;
  padding: 10px 0px 10px 10px;
}

.item-info-exist {
  font-size: 18px;
  font-weight: bold;
  color: #1d992a;
}

.item-info-order-btn {
  margin-right: 0;
  margin-top: -10px;
}

.similar-items {
  .item-info-text {
    height: auto;
    border: none;
    margin-bottom: 0px;
    line-height: normal;
  }
  .cart-item-header {
    margin-bottom: 5px;
    margin-top: 7px;
  }
  .cart-item-price {
    margin-top: 5px;
  }
  div {
    margin-left: 15px;
  }
}

.filter-block {
  width: 186px;
  height: 1556px;
  padding: 0px 29px 0 29px;
  background: #f7f7f7;
  float: left;
}

.catalog-inner {
  float: left;
  width: 786px;
  height: 1556px;
  display: block;
  width: 781px;
  background: #ffffff;
  li {
    margin-right: 0;
    margin-left: 18px;
    margin-bottom: 0;
  }
  div {
    margin-left: 0px;
  }
  .catalog {
    padding-bottom: 16px;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 16px;
  }
  .catalog:nth-child(3n+2) {
    border: none;
  }
}

.sort-by {
  font-size: 13px;
  color: #727272;
  float: right;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  img {
    margin-left: 7px;
    cursor: pointer;
  }
}

.filter-block-header {
  margin-top: 24px;
  padding: 0;
}

.filter-block-item {
  padding-top: 17px;
  border-top: 1px solid #c2c2c2;
  margin-top: 17px;
}

.filter-header {
  color: #565656;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 17px;
}

.checkbox-item {
  display: inline-table;
  width: 88px;
  margin-bottom: 13px;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #565656;
}

.checkbox-label {
  display: inline-block;
  top: -4px;
  position: relative;
  left: 7px;
}

.checkbox-checked {
  width: 9px;
  height: 9px;
  margin: 4px;
  border-radius: 2px;
  display: block;
  background: #1ea12c;
  display: none;
}

.select {
  font-size: 13px;
  color: #707070;
  border-bottom: 1px dotted  #707070;
  cursor: pointer;
  img {
    position: relative;
    top: -2px;
  }
}

.select-windows {
  width: 500px;
  min-height: 50px;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  padding: 15px;
  border: 1px solid rgba(122, 122, 122, 0.5);
  border-radius: 3px;
  display: none;
  position: absolute;
  background: white;
  z-index: 99;
  a {
    margin-bottom: 10px;
    width: 150px;
    display: inline-table;
    font-size: 13px;
    color: #707070;
  }
}

.price {
  width: 61px;
  height: 22px;
}

.reset {
  color: #559ee2;
  font-size: 13px;
  float: right;
}

.pointer {
  width: 213px;
  height: 35px;
  display: block;
  background: url(asset-path('pointer.png')) no-repeat;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding-left: 17px;
  padding-top: 7px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.mail-form, .success-form, .success-buy-form, .error-buy-form  {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 99999;
  display: none;
}

.mail-form fieldset {
  margin-bottom: 10px;
}

.success-form, .success-buy-form, .error-buy-form  {
  height: 120px;
  font-size: 13px;
  color: #727272;
  text-align: center;
}

.mail-form h1, .success-form h1, .success-buy-form h1, .error-buy-form h1  {
  float: left;
  padding-bottom: 15px;
}

.mail-form {
  label {
    font-family: Tahoma;
    font-size: 13px;
    color: #727272;
    margin-left: 44px;
    width: 100px;
    display: inline-block;
  }
  input, textarea, a.send-btn {
    float: right;
    margin-right: 52px;
  }
  input[type=text] {
    width: 293px;
    height: 27px;
    border: 1px solid #c7c7c7;
  }
  textarea {
    width: 293px;
    height: 160px;
    border: 1px solid #c7c7c7;
  }
}

.close-form {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.send-btn {}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.7;
  z-index: 9000;
  width: 100%;
  height: 100%;
  display: none;
  display: none;
}

.errors {
  font-family: Tahoma;
  font-size: 12px;
  color: red;
  margin-bottom: 15px;
  margin-left: 30px;
  list-style-type: none;
  line-height: 18px;
}

.old_price {
  color: red;
  font-size: 20px;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.order_form {
  margin-left: 70px;
  padding-bottom: 40px;
}

.order_form label {
  display: inline-block;
  width: 100px;
  font-size: 12px;
}

.order_form input {
  width: 230px;
}

.order_form .order-btn {
  margin: 10px 0 0 243px;
  padding: 0;
  float: none;
}


.search-results {
  margin-left: 40px;
  padding-bottom: 20px;
  line-height: 25px;
}

.search-results a {
  font-size: 14px;
  color: #023b76;
}

.news-page li {
  margin-right: 100px;
  margin-bottom: 50px;

}

.left-column, .right-column {
  float: left; 
  width: 50%;
}

.width-item {
  width: 59px;
}