<!DOCTYPE html>
<html>
<head>
  <meta name="charset" content="utf-8">
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="page-content">
  <div class="header">
    <div class="top-line">
      <div class="central-block">
        <a href="#"><img src="<%= image_path('mail.png') %>" class="mail-btn"></a>
        <div class="download-catalog">
          <a target="_blank" href="/docs/catalog_x-wood_product.pdf" class="download-catalog-img-link"><img src="<%= image_path('mask.png') %>">
          <a target="_blank" href="/docs/catalog_x-wood_product.pdf" class="download-catalog-text-link">Скачать каталог</a>
        </div>
        <a href="/cart" class="cart-link">
          <span><%= (!session[:cart].blank?) ? session[:cart].size : '0' %></span>
          <div class="cart-devider"></div>
          <img src="<%= image_path('shop-basket.png') %>">
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="central-block" style="top: -33px;position: relative;">
      <div class="hedaer-top-line">
        <a href="/" class="logo"><img src="<%= image_path('logo.png') %>"></a>
        <div class="header-contacts">
          <div class="header-address"><%= Settings.get_param_value('address') %></div>
          <div class="header-phone"><span>ТЕЛ.: </span><%= Settings.get_param_value('phone') %></div>
        </div>
        <form class="search-form" action="search">
          <input type="text" class="search-panel" placeholder="Поиск товара. Например, шкаф" name="q" value="<%= params[:q] if params[:q] %>">
          <input type="submit" value="">
        </form>
      </div>
      <div class="clear"></div>
      <div class="header-bottom-line">
        <img src="<%= image_path('callback-btn.png') %>" class="callback-btn">
        <ul class="main-menu">
          <% @menu_items.each do |i| %>
              <% if request.path == i.url %>
                <li class="active"><%= i.name %></li>
              <% else %>
                <li><a href="<%= i.url %>"><%= i.name %></a></li>
              <% end %>   
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <% if request.path == '/'%>
      <div class="slider-container">
        <ul id="slider">
          <%= Banners.get_banners('slider', '', 'markers')%>
        </ul>
        <div class="left-slider-mask"></div>
        <div class="right-slider-mask"></div>
      </div>
      <div class="clear"></div>
    <% end %>
    <div class="submenu-bg" style="<%= 'margin-top: -432px' if request.path == '/' %>">
      <div class="central-block">
        <ul class="submenu">
          <li><a href="/complects" onclick="">Наши коллекции</a></li>
          <% Category.all.each do |c| %>
            <% if !params[:category].blank? && params[:category].to_i == c.id %>
              <li class="active"><%= c.name %></li>
            <% else %>
              <li><a href="/catalog/category/<%= c.id %>"><%= c.name %></a></li>
            <% end %>
          <% end %>
          <li><a href="/exclusive">Эксклюзивная мебель</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="main-block" style="<%= 'margin-top: -368px;' if request.path == '/' %>">
    <div class="central-block">
      <% if request.path != '/' %>
        <ul class="breadcrumbs">
          <%= render_breadcrumbs :tag => :li, :separator => '<li class="devider">/</li>' %>
        </ul>
      <% end %>
    </div>
    <div class="central-block content-block">
      <%= yield  %>
    </div>
    <% if controller.action_name != 'catalog' && (controller.action_name != 'complects' && controller.action_name != 'surprice')%>
      <div class="central-block">
        <h2>ХИТЫ ПРОДАЖ / СКИДКИ</h2>
        <ul class="catalog2">
          <% @hits_and_discounts.each do |i| %>
            <li>
              <a href="/catalog/<%= i.id %>"><img src="<%= i.image.url(:thumb) %>" /></a>
              <span class="label <%= (i.hit) ? 'hit' : 'discount' %>"></span>
            </li>
          <% end %>
        </ul>
        <div class="clear"></div>
      </div>
    <% else %>
      <div class="clear" style="height: 36px"></div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="white-bg">
    <div class="central-block content-block">
      <h1 style="color: #797979; padding-left: 15px; padding-top: 25px;padding-bottom: 24px;">НОВОСТИ</h1>
      <ul class="news">
        <% @news_widget.each do |n| %>
          <li>
            <a href="/news/<%= n.alias %>" class="news-title"><%= n.title %></a>
            <a href="/news/<%= n.alias %>" class="news-intro"><%= n.intro.html_safe %></a>
          </li>
        <% end %>
      </ul>
        <div class="clear"></div>
    </div>
  </div>
  <div class="central-block">
    <div class="footer-left-column">
      <ul class="footer-menu">
        <% @menu_items.each do |i| %>
              <% if request.path == i.url %>
                <li class="active"><%= i.name %></li>
              <% else %>
                <li><a href="<%= i.url %>"><%= i.name %></a></li>
              <% end %>   
        <% end %>
      </ul>
      <div class="clear"></div>
      <div class="footer-text">
        <%= AddText.where(label: 'footer_text')[0].content.html_safe %>
      </div>  
      <div class="footer-contacts-list">
        <div class="footer-contacts-list-header">Контакты:</div>
        <div class="footer-address">
          <%= Settings.get_param_value('address') %>
        </div>
        <div class="footer-phone"><%= Settings.get_param_value('phone') %></div>
      </div>
      <div class="footer-shops-list">
        <div class="footer-contacts-list-header">Магазины:</div>
        <%= AddText.where(label: 'footer_shops')[0].content.html_safe %>
      </div>
    </div>
    <div class="footer-right-column">
      <div class="callback-form">
        <div class="callback-form-header">НАПИШИТЕ НАМ!</div>
        <% if @getcall_footer.errors.any? %>
          <ul class="errors">
            <% @getcall_footer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @getcall_footer, url: '', method: :post do |f| %>
          <fieldset>
            <label>Ваш Email:</label>
            <%= f.text_field :email %>
          </fieldset>
          <fieldset>
            <label>Сообщение:</label>
            <%= f.text_area :message %>
          </fieldset>
          <input type="submit" value="">
        <% end %>
        <% if params[:getcall_footer] && !@getcall_footer.errors.any? %>
          <script>
            $(document).ready(function(){
               openform('success-form', 60, 285, 'НОВОЕ СООБЩЕНИЕ', 'Ваше сообщение отправлено.'); 
            });
          </script>
        <% end %>
      </div>
      <a href="#" class="copy">Сделано в LINK STUDIO</a>
    </div>
  </div>
</div>
<!-- popup windows -->
<div class="overlay"></div>
<div class="success-form">
    <h1 id="popup-title">ОФоРМЛЕНИЕ ЗАКАЗА</h1>
    <a href="#" class="close-form"><img src="<%= image_path('close-form.png') %>" /></a>
    <div class="clear"></div>
    <div id="popup-content">Ваш заказ успешно оформлен.</div>
</div>
<div class="mail-form">
    <h1>ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</h1>
    <a href="#" class="close-form"><img src="<%= image_path('close-form.png') %>" /></a>
    <div class="clear"></div>
    <% if @getcall.errors.any? %>
          <ul class="errors">
            <% @getcall.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
    <div class="clear"></div>
    <%= form_for @getcall, url: '', method: :post do |f| %>
        <fieldset>
            <label>Имя</label>
            <%= f.text_field :name %>
        </fieldset>
        <fieldset>
            <label>Телефон</label>
            <%= f.text_field :phone %>
        </fieldset>
        <fieldset>
            <label>Email</label>
            <%= f.text_field :email %>
        </fieldset>
        <fieldset>
            <label>Удобное время</label>
            <%= f.text_field :time %>
        </fieldset>
        <fieldset>
            <label>Комментарий</label>
            <%= f.text_area :message %>
        </fieldset>
    <a href="#" class="send-btn" onclick="jQuery(this).parent().submit()"><img src="<%= image_path('getcall-btn.png') %>"></a>
    <% end %>
</div>
<% if params[:getcall] &&  @getcall.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function(){
        openform('mail-form', 285, 285);
    })
  </script>
<% end %>
<% if params[:getcall] &&  !@getcall.errors.any? %>
  <script type="text/javascript">
      $(document).ready(function(){
        openform('success-form', 60, 285, 'НОВОЕ СООБЩЕНИЕ', 'Ваша заявка принята.<br />Наш менеджер с вами свяжется'); 
      })
  </script>
<% end %>
<!-- end popup windows -->
</body>
</html>